{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Login" %}{% endblock %}

<style>
{% block style %}
{{ block.super }}
{% include 'account/social_signup.css' %}
{% endblock %}
</style>

{% block content %}
{% get_providers as socialaccount_providers %}

<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <h1>{% trans "Login" %}</h1>
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <div class="row text-center">
        <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %} &raquo;</button>
        <a class="btn btn-link button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      </div>
    </form>
  </div>

  <div class="socialaccount_ballot col-md-offset-1 col-md-5 text-center">
    <h2 class="login-or">{% trans 'or' %} instantly login with: </h2>
    <ul class="socialaccount_providers">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>
  </div>

  {% include "socialaccount/snippets/login_extra.html" %}

</div>

{% endblock %}
