<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
	aria-haspopup="true" aria-expended="false">Sign Up <span class="caret"></span></a>
	<ul class="dropdown-menu">
	<li><a href="{% url 'signup-list' %}">List</a></li>
	<li><a href="{% url 'signup-add' %}">Add</a></li>
</ul>
</li>
